body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFEABB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-style: normal;
  margin-bottom: 20px;
}

form {
  text-align: center;
  background-color: #FFEABB;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #b5b2be;
  background-color: #f0e6e6;
  border-radius: 30px;
}

.remember-me {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 16px;
}

button {
  background-color: #141414;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #4c4c50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
button {
  background-color: #090a0a; 
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 300px;
  cursor: pointer;
}

button:hover {
  background-color: #000000; 
}

