body {
    background-color: #FCEEE4;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  